<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Agricola</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="view/assets/media/image/favicon.png"/>

    <!-- Main css -->
    <link rel="stylesheet" href="view/vendors/bundle.css" type="text/css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">


    <!-- App css -->

    <link rel="stylesheet" href="view/assets/css/app.min.css" type="text/css">

</head>

<body class="hidden-navigation">

<!-- Precargador -->
<div class="preloader">
    <div class="preloader-icon"></div>
    <span>cargando</span>
</div>
<!-- ./ Precarcador-->


<!-- Layout wrapper -->
<div class="layout-wrapper">

    

    <!-- Content wrapper -->
    <div class="content-wrapper">

        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="content ">
                
                <div class="page-header">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item">
                                    <a href="index.php?pagina=0">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <i data-feather="layers"></i> <a href="index.php?pagina=1">Mis registros</a> 
                                </li>
                                <li class="breadcrumb-item">
                                    <i data-feather="file-text"></i> <a href="index.php?pagina=1">planilla</a> 
                                </li>

                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="col-md-6">

                    <h1 class= "card-title texto-verde" id='nombreRegistro'><?php echo strtoupper($_GET["nombre_registro"]) ?></h1>
                    <h4 class= "card-title" id = "nombrePlanilla"><?php echo strtoupper($_GET["nombre_planilla"]) ?></h4>
                    <h4 class= "card-title texto-gris">HISTORIAL</h4>

                </div>
                
    <div class="row">

        <div class="col-md-12">
            <div class = 'registro col-md-6'>
                <div class='btn-group'>
                    <button type='button' class='btn btn-light-primary'><h4>INFORMACIÓN</h4></button>
                    
                </div>
        
                <div id='historialPlanilla'>
                
                
                </div>
                
            </div>
            <div class="card">
                
                
            </div>
        </div>

        

        

        
    </div>

            </div>
            <!-- ./ Content -->

            <!-- Footer -->
            <footer class="content-footer">
                <div>© 2020 APP agrícola - <a href="#" target="_blank">App Agrícola</a></div>

            </footer>
            <!-- ./ Footer -->
        </div>
        <!-- ./ Content body -->
    </div>
    <!-- ./ Content wrapper -->
</div>
<!-- ./ Layout wrapper -->

<script src="view/assets/js/historial.js"></script>

<!-- Main scripts -->
<script src="view/vendors/bundle.js"></script>


<!-- App scripts -->
<script src="view/assets/js/app.min.js"></script>
</body>

</html>
